<div class="data-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
    <mat-progress-bar *ngIf="!loadedAsync && !abortedRequest" mode="indeterminate"></mat-progress-bar>
  </mat-form-field>
  <div *ngIf="loadingResources && !abortedRequest" class="loading">
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  </div>
  <!-- Tebela de receita -->
  <table mat-table [dataSource]="dataTable" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ displayedColumnsInfo[column].title }} </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!displayedColumnsInfo[column].content">
          <span *ngIf="!displayedColumnsInfo[column].mask && !displayedColumnsInfo[column].date && !displayedColumnsInfo[column].icon">{{ element[column] }}</span>
          <span *ngIf="displayedColumnsInfo[column].mask">{{ element[column] | mask: displayedColumnsInfo[column].mask }}</span>
          <span *ngIf="displayedColumnsInfo[column].date">{{ element[column] * 1000 | date: displayedColumnsInfo[column].date }}</span>
          <span *ngIf="displayedColumnsInfo[column].icon">
            <button mat-icon-button (click)="clickColumn(displayedColumnsInfo[column].event, element[column])"
              matTooltipPosition="after"
              [matTooltip]="displayedColumnsInfo[column].title">
                <mat-icon>{{ displayedColumnsInfo[column].icon }}</mat-icon>
            </button>
          </span>
        </span>
        <div *ngIf="displayedColumnsInfo[column].content" class="person">
          <span *ngFor="let content of displayedColumnsInfo[column].content">
            <img *ngIf="content.tag === 'img'" class="avatar" src="{{element[content.field]}}">
            <h3 *ngIf="content.tag === 'h3'">{{element[content.field]}}</h3>
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="content-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
             <p>Expansivo!!!</p>
        </div>
      </td>
    </ng-container>

    <!-- PDF da Receita -->
    <!-- <ng-container matColumnDef="image" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Remover</th>
      <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-icon-button
            matTooltipPosition="after"
            matTooltip="Tem certeza?">
              <mat-icon>delete</mat-icon>
          </button>
      </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- TBODY -->
    <tr mat-row
    [class.content-expanded-row]="expandedElement === row"
    (click)="selectRow(row)"
    *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="content-detail-row"></tr>
  </table>
  <!-- Paginação -->
  <mat-paginator [length]="count" (page)="getPagination($event)" [pageSize]="perPage" [pageSizeOptions]="[1, 5, 15, 30, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
