@import "./../../screens/private/admin/dashboard/dashboard.component.scss";

.data-table {
  position: relative;
  .mat-progress-bar {
    position: absolute;
    bottom: -4px;
  }

  .mat-spinner {
    margin: 0 auto;
  }

  .loading {
    width: 100%;
    height: calc(100% - 55px);
    text-align: center;
    position: absolute;
    z-index: 9;
    background-color: #ffffffc9;
  }

  .content-element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.content-detail-row {
    height: 0;
  }

}
