<div class="login">
  <mat-card class="login-card">
    <form class="login-form" [formGroup]="loginForm">
      <div class="logo">
        <span class="icon-medico"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
      </div>
      <mat-form-field *ngIf="formType === 'login' || formType === 'forggot'">
        <span matPrefix><mat-icon>mail</mat-icon>&nbsp;</span>
        <input matInput placeholder="E-mail" formControlName="email" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.get('email').hasError('email')">
          Por favor, informme um email válido.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          O e-mail é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="formType === 'login' || formType === 'password'">
        <span matPrefix><mat-icon>lock</mat-icon>&nbsp;</span>
        <input matInput placeholder="Senha"  formControlName="password" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          A senha é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="formType === 'code'">
        <span matPrefix><mat-icon>confirmation_number</mat-icon>&nbsp;</span>
        <input matInput placeholder="Código de recuperação"  formControlName="code" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.get('code').hasError('required')">
          A senha é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
      <button *ngIf="formType === 'login'" (click)="submitLogin()" class="btn-login" mat-button>Entrar</button>
      <button *ngIf="formType === 'forggot'" (click)="recoveryPassword()" class="btn-login" mat-button>Recuperar Senha</button>
      <button *ngIf="formType === 'code'" (click)="validateRecoveryCode()" class="btn-login" mat-button>Verificar código</button>
      <button *ngIf="formType === 'password'" (click)="defineNewPassword()" class="btn-login" mat-button>Redefinir senha</button>
    </form>
    <div  *ngIf="formType === 'login'" class="forggot" fxLayout="row" fxLayoutAlign="end center">
      <button (click)="formData('forggot')" mat-button>Esqueceu a senha?</button>
    </div>
    <div  *ngIf="formType === 'forggot'" class="forggot" fxLayout="row" fxLayoutAlign="start center">
      <button (click)="formData('login')" mat-button>Realizar Login</button>
    </div>
  </mat-card>
</div>
