
@import "./../../../../assets/fonts/variables/colors";

.login {
  width: 99%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: url(./../../../../assets/images/61802.jpg) 0 45%/cover no-repeat;
}

.login-card {
  width: auto;
  max-width: 75%;
  border: 1px solid #ffffff29;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  .mat-icon {
    color: $color-default;
  }
}

.login-form {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  .btn-login {
    background: $color-default;
    color: white;
    margin: 15px 0;
    text-transform: uppercase;
  }
}

.logo {
  margin: 15px;
  text-align: center;
  .icon-medico {
    font-size: 50px;
    color: white;
  }
}

.forggot {
  color: #54d3ae;
  font-size: .9em;
  margin: 15px 0;
}
