<!-- Cabeçalho -->
<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngFor="let content of data.content">
      <h3 [hidden]="!content.title">{{ content.title }}</h3>
      <p [hidden]="!content.description">{{ content.description }}</p>
      <iframe *ngIf="content.pdf" [src]="content.pdf | safeUrl"></iframe>
  </div>
</mat-dialog-content>
<!-- Botões -->
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button mat-dialog-close (click)="confirmDialog(false)">{{ data.cancelText }}</button>
  <button mat-button cdkFocusInitial (click)="confirmDialog(true)">{{ data.submitText }}</button>
</mat-dialog-actions>


