<header fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between end">
  <div *ngIf="currentProfile.info" class="user-info" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
    <img class="profile-image avatar huge" [src]="currentProfile.info.image">
    <div class="detail" fxLayout="column">
      <div fxLayout="row" class="name"> {{ currentProfile.info.name }} </div>
      <div fxLayout="row" class="info">{{ currentProfile.info.cpf | mask: '000.000.000-00' }}</div>
    </div>
  </div>
  <div class="actions ng-trigger ng-trigger-animate" fxLayout="row" fxLayoutAlign="end center">
    <button (click)="confirmDeleteProfile()" mat-mini-fab color=""
      aria-label="Remove usuário"
      fxLayoutAlign="center center">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
</header>
<mat-tab-group
  [(selectedIndex)]="tabIndex">
  <!-- Meus médicos -->
  <mat-tab label="Médicos">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Conteúdo principal -->
        <div fxFlex="100" fxFlex.gt-md="55" fxFlex.gt-sm="55" fxLayout="column">
          <!-- Tabela dos meus médicos -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Médicos do paciente</div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <app-data-table
                [customRoute]="routers.retrieveMyDoctors"
                [displayedColumns]="allTables.myDoctors.columns"
                [displayedColumnsInfo]="allTables.myDoctors.info"
                [userID]="currentProfile.current_id"
                (customRowClick)="utils.getRowClick($event, '/dashboard/doctors')">
              </app-data-table>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- Sidebar -->
        <div class="sidebar" fxFlex="100" fxFlex.gt-md="40" fxFlex.gt-sm="40" fxLayout="column">
          <!-- Convites enviados -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Últimos convites</div>
                <div class="more">Ver mais</div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <app-data-table
                [customRoute]="routers.retrieveInvites"
                [displayedColumns]="allTables.MyInvites.columns"
                [displayedColumnsInfo]="allTables.MyInvites.info"
                [userID]="currentProfile.current_id">
              </app-data-table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <!-- Minhas Receitas -->
  <mat-tab label="Receitas">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Conteúdo principal -->
        <div fxFlex="100" fxLayout="column">
          <!-- Tabela as receitas emitidas -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Receitas do paciente</div>
              </div>
            </mat-card-header>
            <mat-card-content>
                <app-data-table *ngIf="tabIndex == 1"
                  origin="patients"
                  [customRoute]="routers.retrieveMyRecipes"
                  [displayedColumns]="allTables.MyRecipes.columns"
                  [displayedColumnsInfo]="allTables.MyRecipes.info"
                  [loadingResources]="loadingPDF"
                  [userID]="currentProfile.current_id">
                </app-data-table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <!-- Perfil com dados cadastrais -->
  <mat-tab label="Perfil">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Conteúdo principal -->
        <div fxFlex="100" fxFlex.gt-md="65" fxFlex.gt-sm="65" fxLayout="column">
          <!-- Formulário com meus dados -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Dados cadastrais</div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <app-user-form *ngIf="this.currentProfile.info && tabIndex == 2"
                type="patient"
                [dataForm]="currentProfile.info"
                [routeToUpdate]="routers.updateProfile"
                [userID]="currentProfile.current_id">
              </app-user-form>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- Sidebar -->
        <div fxFlex="100" fxFlex.gt-md="30" fxFlex.gt-sm="30" fxLayout="column">
           <!-- Alteração de senha -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Alteração de senha</div>
              </div>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <app-reset-login-form *ngIf="currentProfile.current_id"
                  [routeToUpdate]="routers.updateMyPassword"
                  [userID]="currentProfile.current_id">
                </app-reset-login-form>
              </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
