@import "./../../dashboard/dashboard.component.scss";

header {
  background: url(./../../../../../../assets/images/15002.jpg) 0 45%/cover no-repeat;
  .detail {
    background: #bedef2;
    font-size: 1.2em;
    .info {
      color: #89b7e7;
      font-size: 1.2em;
    }
  }
}
.custom-mat-card-header {
  background: $color-patient-header;
}
