@import "./../../dashboard/dashboard.component.scss";

header {
  background: url(./../../../../../../assets/images/316411.jpg) 0 45%/cover no-repeat;
}
.custom-mat-card-header {
  background: $color-pharmacist-header;
}
