<header *ngIf="currentProfile.info" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between end">
  <div class="user-info" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
    <img class="profile-image avatar huge" [src]="currentProfile.info.image">
    <div class="detail" fxLayout="column">
      <div fxLayout="row" class="name"> {{ currentProfile.info.name }} </div>
    </div>
  </div>
  <div class="actions ng-trigger ng-trigger-animate" fxLayout="row" fxLayoutAlign="end center">
    <button (click)="confirmDeleteProfile()" mat-mini-fab color=""
      aria-label="Remove usuário"
      fxLayoutAlign="center center">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
</header>
<mat-tab-group
  [(selectedIndex)]="tabIndex">
  <!-- Minhas Receitas -->
  <mat-tab *ngIf="!rule.test(currentProfile.current_id)" label="Receitas">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Conteúdo principal -->
        <div fxFlex="100" fxLayout="column">
          <!-- Tabela as receitas emitidas -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Receitas de medicamentos vendidos</div>
              </div>
            </mat-card-header>
            <mat-card-content>
                <app-data-table *ngIf="tabIndex == 0"
                  [customRoute]="routers.retrieveMyRecipes"
                  [displayedColumns]="allTables.MyRecipes.columns"
                  [displayedColumnsInfo]="allTables.MyRecipes.info"
                  [loadingResources]="loadingPDF"
                  [userID]="currentProfile.current_id">
                </app-data-table>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <!-- Perfil com dados cadastrais -->
  <mat-tab label="Perfil">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Conteúdo principal -->
        <div fxFlex="100" fxFlex.gt-md="65" fxFlex.gt-sm="65" fxLayout="column">
          <!-- Formulário com meus dados -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Dados cadastrais</div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <app-user-form *ngIf="this.currentProfile.info && tabIndex == 1 || rule.test(currentProfile.current_id) && tabIndex == 0"
                type="pharmacist"
                [dataForm]="currentProfile.info"
                [routeToCreate]="routers.createProfile"
                [routeToUpdate]="routers.updateProfile"
                [userID]="currentProfile.current_id">
              </app-user-form>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- Sidebar -->
        <div fxFlex="100" fxFlex.gt-md="30" fxFlex.gt-sm="30" fxLayout="column">
           <!-- Alteração de senha -->
          <mat-card *ngIf="!rule.test(currentProfile.current_id)">
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Alteração de senha</div>
              </div>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <app-reset-login-form *ngIf="currentProfile.current_id"
                  [routeToUpdate]="routers.updateMyPassword"
                  [userID]="currentProfile.current_id">
                </app-reset-login-form>
              </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
