@import "./../../dashboard/dashboard.component.scss";

header {
  background: url(./../../../../../../assets/images/2942.jpg) 0 45%/cover no-repeat;
  .detail {
    font-size: 1.2em;
    .info {
      color: #dda6f1;
      font-size: 1.2em;
    }
  }
}
.custom-mat-card-header {
  background: $color-pharmacie-header;
}
