@import "./../../dashboard/dashboard.component.scss";

header {
  background: url(./../../../../../../assets/images/2754793.jpg) 0 45%/cover no-repeat;
  .detail {
    background: transparent;
    font-size: 1.2em;
    .info {
      color: #50a09e;
      font-size: 1.2em;
    }
  }
}
.custom-mat-card-header {
  background: $color-administrator-header;
}
