<div  class="content" *ngIf="!childrenRules.test(router.url)">
  <!-- Tabela -->
  <app-data-table
    [customRoute]="routers.retrieveAllPharmacists"
    [displayedColumns]="allTables.allPharmacists.columns"
    [displayedColumnsInfo]="allTables.allPharmacists.info"
    (customRowClick)="utils.getRowClick($event, router.url)">
  </app-data-table>
  <!-- Botão de novo registro -->
  <button (click)="utils.newChild(myRoute)"
    mat-raised-button
    matTooltipPosition="right"
    matTooltip="Novo registro"
    aria-label="Botão que adiciona um nova registro ao ser clicado" class="float-button" mat-fab>
    <i class="icon-plus-round"></i>
  </button>
</div>
<!-- Telas filhas -->
<router-outlet *ngIf="childrenRules.test(router.url)"></router-outlet>
