<form class="login-form" [formGroup]="dinamicForm" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
    <div [fxHide]="type !== 'pharmacist'" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- Farmácia -->
      <mat-form-field  *ngIf="!pharmacies" appearance="outline">
        <mat-label>Farmácia</mat-label>
        <input matInput placeholder="nome fantasia" formControlName="pharmacy_id" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>public</mat-icon>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('pharmacy_id').hasError('required')">
          O nome farmácia é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="pharmacies">
          <mat-label>Farmácia</mat-label>
        <input type="text"  placeholder="nome fantasia" aria-label="nome fantasia" matInput formControlName="pharmacy_id" [matAutocomplete]="auto"  [errorStateMatcher]="matcher">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn(pharmacies)">
          <mat-option *ngFor="let option of pharmaciesFilteredOptions | async" [value]="option.value">
            {{option.display}}
          </mat-option>
        </mat-autocomplete>
        <span matSuffix><mat-icon>location_city</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('pharmacy_id').hasError('required')">
          A farmácia é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
    </div>
      <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- Nome -->
      <mat-form-field appearance="outline">
        <mat-label>{{ type !== 'pharmacy' ? 'Nome' : 'Nome da empresa no CNPJ' }}</mat-label>
        <input matInput placeholder="nome completo" formControlName="name" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>{{ type !== 'pharmacy' ? 'person' : 'location_city' }}</mat-icon>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('name').hasError('required')">
          O nome é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Nome Fantasia -->
      <mat-form-field [fxHide]="type !== 'pharmacy'" appearance="outline">
        <mat-label>Nome Fantasia</mat-label>
        <input matInput placeholder="nome completo" formControlName="fantasy_name" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>public</mat-icon>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('fantasy_name').hasError('required')">
          O nome fantasia é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Dados Empresariais -->
    <h4 [hidden]="type !== 'pharmacy'">Dados da Empresa e seu Responsável</h4>
    <div [fxHide]="type !== 'pharmacy'" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- CNPJ -->
      <mat-form-field [hidden]="type !== 'pharmacy'" appearance="outline" fxFlex="35">
        <mat-label>CNPJ</mat-label>
        <input matInput placeholder="CNPJ" [formControl]="dinamicForm.controls['cnpj']" [errorStateMatcher]="matcher" mask="00.000.000/0000-00">
        <span matSuffix><mat-icon>bookmark</mat-icon></span>
        <mat-error *ngIf="dinamicForm.get('cnpj').hasError('required')">
          O CNPJ é <strong>necessário.</strong>
        </mat-error>
        <mat-error *ngIf="dinamicForm.get('cnpj').hasError('minlength')">
          Por favor, informe um CNPJ válido.
        </mat-error>
      </mat-form-field>
      <!-- Responsável -->
      <mat-form-field [hidden]="type !== 'pharmacy'" appearance="outline" fxFlex>
        <mat-label>Responsável</mat-label>
        <input matInput placeholder="Responsável" formControlName="responsible" [errorStateMatcher]="matcher">
        <span matSuffix><mat-icon>person</mat-icon></span>
        <mat-error *ngIf="dinamicForm.get('responsible').hasError('required')">
          O responsável é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- E-mail -->
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="e-mail para contato" formControlName="email" [errorStateMatcher]="matcher">
        <span matSuffix><mat-icon>mail</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('email').hasError('email')">
          Por favor, informe um email válido.
        </mat-error>
        <mat-error *ngIf="dinamicForm.get('email').hasError('required')">
          O e-mail é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Telefone -->
      <mat-form-field appearance="outline" fxFlex="25">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="telefone principal" [formControl]="dinamicForm.controls['telephone_one']" [errorStateMatcher]="matcher" mask="(00) 00009-0000">
        <span matSuffix><mat-icon>phone</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('telephone_one').hasError('required')">
          O telefone é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- CPF -->
      <mat-form-field [fxHide]="type === 'pharmacy'" appearance="outline" fxFlex="35">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="CPF" [formControl]="dinamicForm.controls['cpf']" [errorStateMatcher]="matcher" mask="000.000.000-00">
        <span matSuffix><mat-icon>bookmark</mat-icon></span>
        <mat-error *ngIf="dinamicForm.get('cpf').hasError('required')">
          O CPF é <strong>necessário.</strong>
        </mat-error>
        <mat-error *ngIf="dinamicForm.get('cpf').hasError('minlength')">
          Por favor, informe um CPF válido.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Documentos -->
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- RG -->
      <mat-form-field [fxHide]="type === 'pharmacy' || type === 'pharmacist'" appearance="outline">
        <mat-label>RG</mat-label>
        <input matInput placeholder="RG" formControlName="rg" [errorStateMatcher]="matcher">
        <span matSuffix><mat-icon>bookmark</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('rg').hasError('required')">
          O RG é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Data de Nascimento -->
      <mat-form-field [fxHide]="type === 'pharmacy'" appearance="outline" fxFlex="30">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput placeholder="nascimento" [formControl]="dinamicForm.controls['date_of_birth']" [errorStateMatcher]="matcher" [dropSpecialCharacters]="false" mask="00/00/0000">
        <span matSuffix><mat-icon>date_range</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('date_of_birth').hasError('required')">
          A data é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Sexo -->
      <mat-form-field [fxHide]="type === 'pharmacy'" appearance="outline" fxFlex="30">
        <mat-label>Sexo</mat-label>
        <mat-select placeholder="sexo" formControlName="genre" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let genre of genres" [value]="genre.value">
            {{genre.display}}
          </mat-option>
        </mat-select>
        <span matSuffix><mat-icon>fingerprint</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('genre').hasError('required')">
          O sexo é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Especialização -->
    <h4 [hidden]="type !== 'doctor'">Especialização</h4>
    <div [fxHide]="type !== 'doctor'" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- Conselho -->
      <mat-form-field appearance="outline">
        <mat-label>Conselho</mat-label>
        <mat-select placeholder="conselho de atuação" formControlName="advice_id" [errorStateMatcher]="matcher" #advice="matSelect">
          <mat-option *ngFor="let advice of advices" [value]="advice.value">
            {{advice.display}}
          </mat-option>
        </mat-select>
        <span matSuffix><mat-icon>verified_user</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('advice_id').hasError('required')">
          O conselho é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Região do conselho -->
      <mat-form-field appearance="outline">
        <mat-label>Região</mat-label>
        <mat-select placeholder="região do conselho" formControlName="region_id" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let region of states" [value]="region.value">
            {{region.display}}
          </mat-option>
        </mat-select>
        <span matSuffix><mat-icon>my_location</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('region_id').hasError('required')">
          A região é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Registro -->
      <mat-form-field appearance="outline">
        <mat-label>Registro</mat-label>
        <input matInput placeholder="Registro" formControlName="crm_number" [errorStateMatcher]="matcher">
        <span matSuffix><mat-icon>assignment_ind</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('crm_number').hasError('required')">
          O registro é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div [fxHide]="type !== 'doctor'" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
    <!-- Especialidade -->
      <mat-form-field appearance="outline">
        <mat-label>Especialidade</mat-label>
        <mat-select placeholder="especialidade" formControlName="specialty_id" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let specialty of specialties" [value]="specialty.value">
            {{specialty.display}}
          </mat-option>
        </mat-select>
        <span matSuffix><mat-icon matSuffix class="icon-medical"></mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('specialty_id').hasError('required')">
          A especialidade é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <h4>{{ type !== 'pharmacy' ? 'Endereço' : 'Endereço da empresa no CNPJ' }}</h4>
    <!-- Local de Atendimento -->
    <div [fxHide]="type !== 'doctor'" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="outline">
        <mat-label>Local de Atendimento</mat-label>
        <input matInput placeholder="nome do local" formControlName="locality" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>location_city</mat-icon>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('locality').hasError('required')">
          O local é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Endereço -->
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- CEP -->
      <mat-form-field appearance="outline" fxFlex="20">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="CEP do endereço" [formControl]="dinamicForm.controls['street_code']" [errorStateMatcher]="matcher" mask="00000-000">
        <span matSuffix><mat-icon>search</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('street_code').hasError('minlength')">
          Por favor, informe um CEP válido.
        </mat-error>
        <mat-error *ngIf="dinamicForm.get('street_code').hasError('required')">
          O CEP é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Estado -->
      <mat-form-field appearance="outline" fxFlex="30">
        <mat-label>Estado</mat-label>
        <mat-select placeholder="estado" formControlName="state_id" [errorStateMatcher]="matcher" #state="matSelect" (selectionChange)="clearNextField('city_id')">
            <mat-option *ngFor="let state of states" [value]="state.value">
              {{state.display}}
            </mat-option>
          </mat-select>
        <span matSuffix><mat-icon>location_city</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('state_id').hasError('required')">
          O estado é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Cidade -->
      <mat-form-field  *ngIf="!citys" appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="cidade" formControlName="city_id" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>public</mat-icon>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('city_id').hasError('required')">
          O estado é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="citys">
          <mat-label>Cidade</mat-label>
        <input type="text" placeholder="cidade" aria-label="cidade" matInput formControlName="city_id" [matAutocomplete]="auto" [errorStateMatcher]="matcher">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn(citys)">
          <mat-option *ngFor="let option of citysFilteredOptions | async" [value]="option.value">
            {{option.display}}
          </mat-option>
        </mat-autocomplete>
        <span matSuffix><mat-icon>location_city</mat-icon></span>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('city_id').hasError('required')">
          A cidade é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Endereço -->
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="outline" fxFLex="65">
        <mat-label>Endereço</mat-label>
        <input matInput placeholder="endereço do local" formControlName="street_title" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>location_city</mat-icon>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('street_title').hasError('required')">
          O endereço é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Bairro -->
      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="endereço do local" formControlName="district_title" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>location_city</mat-icon>
        <!-- Erros -->
        <mat-error *ngIf="dinamicForm.get('street_title').hasError('required')">
          O bairro é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- Número -->
      <mat-form-field appearance="outline" fxFlex="20">
        <mat-label>Número</mat-label>
        <input matInput placeholder="número do endereço" formControlName="number" [errorStateMatcher]="matcher">
        <span matSuffix><mat-icon>my_location</mat-icon></span>
        <mat-error *ngIf="dinamicForm.get('number').hasError('required')">
          O número é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Complemento -->
      <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="complemento do endereço" formControlName="complement" [errorStateMatcher]="matcher">
        <span matSuffix><mat-icon>location_city</mat-icon></span>
        <mat-error *ngIf="dinamicForm.get('complement').hasError('required')">
          O complemento é <strong>necessário.</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <button [disabled]="formSubmitted" class="btn-submit" (click)="submitForm(); getFormValidationErrors();" mat-button>{{ (formSubmitted) ? 'Salvando...' : 'Salvar' }}</button>
    <mat-progress-bar *ngIf="formSubmitted" mode="indeterminate"></mat-progress-bar>
  </form>
