@import "./../../../assets/fonts/variables/colors";



   .mat-dialog-actions {
    padding: 8px 20px;
    min-height: 60px;
    margin-bottom: 0;
    float: right;
   }
   .mat-card-avatar {
    height: 70px;
    width: 70px;
  }

  .avatar {
    height: 70px;
    border-radius: 70px;
  }
  form {
      padding: 0 15px;
      i {
        color: $color-default;
      }
  }
  .full-medicines {
    width: 59.7%;
  }

.mat-autocomplete-panel .mat-option {
  height: auto !important;
  .title {
    color: $color-default;
    display: block;
    height: 25px;
    line-height: 25px;
    small{
      color: #9c9c9c;
      font-weight: 100;
      font-size: .8em;
    }
  }
  .details {
    display: block;
    height: 20px;
    line-height: 20px;
    &.separate{
      width: 100%;
      border-bottom: 1px solid #f6f6f6;
      margin: 0 0 5px;
      padding: 0 0 5px;
    }
  }
}

.mat-slider-horizontal {
  width: 200px;
}

.mat-slider{
  width: 100%;
}

.observations {
  width: 100%;
}

.period {
  color: #929292;
  position: relative;
  top: 14px;
  .period-label{
    position: relative;
    top: 17px;
    left: 10px;
    .label {
      color: $color-default;
    }
    .continuo {
      color: red;
      font-weight: 500;
    }
  }
}

.vality {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
  .mat-form-field{
    flex: 1;
  }
}

[mat-actions],
.after-confirm{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.submit {
  background-color: $color-default;
  color: white;
  margin: 0 0 0 20px;
  flex: 3;
  text-align: center;
  [class^="icon-"]{
    color: white;
    margin: 0 3px;
  }
  &.edit {
      border-radius: 4px;
      margin: 0;
      padding: 10px;
  }
  &.remove {
    border-radius: 4px;
    background: red;
    padding: 10px;
    margin: 0 25px 0 0;
    flex: unset;
  }
}
