<form class="recipe-crud-form" [formGroup]="formRecipe">
    <!-- Medicamentos -->
      <mat-form-field class="full-medicines">
        <span matPrefix><i class="icon-pills"></i>&nbsp;</span>
        <input matInput placeholder="Medicamento" (ngModelChange)="filterMedicine($event)" aria-label="Medicamento" formControlName="title" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let medicine of filteredMedicines | async" [value]="medicine.titulo" (onSelectionChange)="medicineSelected($event, medicine)">
            <span class="title">{{medicine.titulo}} - <small>{{medicine.subtitulo}}</small></span>
            <small class="details separate">{{medicine.descricao}}</small>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formRecipe.get('title').hasError('required')">
            O medicamento é <strong>necessário.</strong>
          </mat-error>
      </mat-form-field>
      <!-- Dosagem -->
      <mat-form-field>
        <span matPrefix><i class="icon-eye-dropper"></i>&nbsp;</span>
        <mat-select placeholder="Dosagem" formControlName="dosage">
            <mat-option *ngFor="let dosage of dosageList" [value]="dosage.value">
              {{dosage.viewValue}}
            </mat-option>
          </mat-select>
        <mat-error *ngIf="formRecipe.get('dosage').hasError('required')">
          A dosagem é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Período -->
      <div class="full-medicines mat-form-field period">
        <div class="period-label">
          <span matPrefix><i class="icon-calendar"></i>&nbsp;</span>
          Período
          <span *ngIf="formRecipe.get('number_of_days').value > 0 && formRecipe.get('number_of_days').value < 366">
              <span class="label">
                  {{ formRecipe.get('number_of_days').value }} dia<span *ngIf="formRecipe.get('number_of_days').value > 1">s</span>
              </span>
          </span>
          <span class="continuo" *ngIf="formRecipe.get('number_of_days').value > 365">
            de Uso contínuo.
          </span>
        </div>
        <mat-slider [max]="366" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="tickInterval" formControlName="number_of_days">
      </mat-slider>
    </div>
      <!-- Intervalo -->
      <mat-form-field>
        <span matPrefix><i class="icon-time"></i>&nbsp;</span>
        <mat-select placeholder="Intervalo" formControlName="frequency">
            <mat-option *ngFor="let frequency of frequencyList" [value]="frequency.value">
              {{frequency.viewValue}}
            </mat-option>
          </mat-select>
        <mat-error *ngIf="formRecipe.get('frequency').hasError('required')">
          A dosagem é <strong>necessária.</strong>
        </mat-error>
      </mat-form-field>
      <!-- Considerações do medicamento -->
      <mat-form-field class="observations">
        <textarea matInput placeholder="Considerações do medicamento" formControlName="considerations"></textarea>
      </mat-form-field>
      <!-- Validade da receita -->
      <div class="vality">
          <mat-form-field>
              <span matPrefix><i class="icon-alert-time"></i>&nbsp;</span>
              <input matInput [matDatepickerFilter]="filterTodayLimit" [matDatepicker]="picker" placeholder="Validade da receita" formControlName="validity_of_medicine">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
      <!-- Botões -->
    <div mat-actions>
      <button *ngIf="formRecipe.valid && !canAdd" class="submit" mat-button (click)="confirmMedicine(item, index)">
        <i class="icon-checked"></i> Confirmar
      </button>
      <button *ngIf="canAdd && (index == list.length - 1)" class="submit" mat-button (click)="newMedicine()">
        <i class="icon-plus-round"></i>
        medicamento
      </button>
    </div>
</form>
<div class="after-confirm" *ngIf="formRecipe.disabled">
    <div class="remove submit" (click)="removeMedicine(item)">
        <i class="icon-close"></i> Remover
      </div>
    <div class="edit submit" (click)="editMedicine()">
        <i class="icon-edit"></i> Editar
    </div>
</div>
