<div  class="content" *ngIf="!childrenRules.test(router.url)">
    <!-- Tabela -->
    <app-data-table
      [customRoute]="routers.retrieveAllPatients"
      [displayedColumns]="allTables.allPatients.columns"
      [displayedColumnsInfo]="allTables.allPatients.info"
      (customRowClick)="utils.getRowClick($event, router.url)">
    </app-data-table>
  </div>
  <!-- Telas filhas -->
  <router-outlet *ngIf="childrenRules.test(router.url)"></router-outlet>
