<div  class="content" *ngIf="!childrenRules.test(router.url)">
  <!-- Tabela -->
  <app-data-table
    [customRoute]="routers.retrieveAllDoctors"
    [displayedColumns]="allTables.allDoctors.columns"
    [displayedColumnsInfo]="allTables.allDoctors.info"
    (customRowClick)="utils.getRowClick($event, router.url)">
  </app-data-table>
</div>
<!-- Telas filhas -->
<router-outlet *ngIf="childrenRules.test(router.url)"></router-outlet>
