@import "./../../../../../assets/fonts/variables/colors";

mat-toolbar {
  color: white;
  font-weight: lighter;
  .logo {
    display: flex;
    font-size: 1.5em;
    h2 {
      margin: 0 10px;
      font-weight: 200;
    }
  }
}

.mat-toolbar {
  .spacer {
    flex: 1 1 auto;
  }

  .mat-card-avatar {
    height: 45px;
    width: 45px;
  }

  .avatar {
    height: 45px;
    border-radius: 45px;
  }

  .logout {
    padding: 0 14px;
    cursor: pointer;
  }
}

.mat-list-base {
  padding-top: 0;
}

.mat-drawer-transition .mat-drawer-content {
  min-height: 800px;
}

.cards {
  .card {
    color: white;
    padding: 22px 0 10px;
    margin: 0 15px 30px;
    cursor: pointer;
    text-align: center;
    background: $color-default;
      mat-card-header{
        justify-content: center;
      }
  }
}

// Páginas agrupadoras

table {
  width: 100%;
  tr.mat-row:hover{
    background: #f9f9f9;
    cursor: pointer;
  }
  .person {
    display: inline-flex;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 40px;
    }
    h3 {
        color: #666;
        font-weight: 300;
        margin: 10px;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.status {
  display: inline-flex;
  i {
    height: 45px;
    width: 35px;
    text-align: center;
    line-height: 45px;
    color: #929292;
    &.started {
      color: #55D3AE;
    }
  }
}

.float-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
  background-color: $color-default;
  i {
    font-size: 25px;
  }
}

.download-file {
  .mat-icon {
    color: $color-default;
  }
}


// Páginas individuais
header {
  padding: 24px;
  height: 160px;
  min-height: 160px;
  max-height: 160px;
 .profile-image {
    margin-right: 24px;
    &.avatar {
      width: 40px;
      min-width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 8px 0 0;
      border-radius: 50%;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
      &.huge {
        width: 96px;
        min-width: 96px;
        height: 96px;
        line-height: 96px;
      }
    }
    mat-icon{
      font-size: 2.5em;
      color: white;
    }
  }
  .name {
    font-size: 34px;
    color: #fff;
  }
  .actions button {
    text-transform: none;
    padding: 0 16px;
    margin: 0 0 0 8px;
  }
}

.custom-mat-card-header {
  margin: 0 -15px 0;
  background: $color-default;
  color: white;
  border-radius: 2px;
  position: relative;
  top: -15px;
  .header {
    margin: 12px 15px;
    font-weight: lighter;
  }
}

.sidebar {
  mat-card {
    margin: 0 0 35px;
  }
}

.link {
  cursor: pointer;
}
