<mat-sidenav-container hasBackdrop="true"
  [ngClass]="{'color-default': !childrenRules.test(router.url) }"
  [class]="childrenConfig[router.url.replace(dashboardChild, '')] ?
          childrenConfig[router.url.replace(dashboardChild, '')].class : ''">
  <mat-sidenav #sidenav mode="push">
      <mat-toolbar class="side-content">
        <button mat-icon-button class="menu-icon" [routerLink]="['/dashboard']">
          <mat-icon class="icon-dr"></mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button class="menu-icon" (click)="sidenav.toggle()">
            <span class="icon-prev"></span>
        </button>
      </mat-toolbar>
      <ng-material-multilevel-menu [(configuration)]="menuConfig" [items]="menuItems" (selectedItem)="selectedMenuItem($event)">
        </ng-material-multilevel-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar layout="row" class="main-content">
      <button mat-icon-button class="menu-icon" (click)="sidenav.toggle()">
        <mat-icon class="mat-24" aria-label="Menu">menu</mat-icon>
      </button>
      <span>{{ (childrenRules.test(router.url)) ? childrenConfig[router.url.replace(dashboardChild, '')].title : (itsOnDashboard ? 'Dashboard' : currentMenuItem.label)  }}</span>
      <span class="spacer"></span>
      <!-- Foto -->
      <div mat-card-avatar *ngIf="userProfile">
        <img class="avatar" [src]="userProfile.image" [alt]="userProfile.name">
      </div>
      <mat-icon (click)="loggout()" class="logout">exit_to_app</mat-icon>
    </mat-toolbar>

      <div class="cards" *ngIf="router.url === myRoute">
        <div class="content">
            <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center">
                <mat-card
                  class="link"
                  *ngFor="let item of childrenComponents"
                  [fxHide]="dashboard.test(item.route)"
                  [routerLink]="[item.route]"
                  class="card"
                  fxFlex.gt-md="30"
                  fxFlex.gt-sm="46"
                  fxFlex.gt-xs="100"
                  fxFlex.xs="100">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                      <mat-icon [fxHide]="!item.personIcon" [class]="item.icon"></mat-icon>
                      <mat-icon [fxHide]="item.personIcon">{{ item.icon}}</mat-icon>
                    </div>
                    <mat-card-title>{{ item.title }}</mat-card-title>
                  </mat-card-header>
                </mat-card>
            </div>
        </div>
      </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
