<header *ngIf="currentMedicine.info" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between end">
  <div class="user-info" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
    <div class="Medicine-image avatar huge">
      <mat-icon class="icon-pills"></mat-icon>
    </div>
    <div class="detail" fxLayout="column">
      <div fxLayout="row" class="name"> {{ currentMedicine.info.name }} </div>
      <div fxLayout="row" class="info">Descrição do medicamento</div>
    </div>
  </div>
  <div class="actions ng-trigger ng-trigger-animate" fxLayout="row" fxLayoutAlign="end center">
    <div [hidden]="currentMedicine.info.isRoot">
      <button (click)="confirmDeleteMedicine()"
        mat-mini-fab color=""
        aria-label="Remove usuário"
        fxLayoutAlign="center center">
          <mat-icon>delete</mat-icon>
      </button>
    </div>
    </div>
</header>
<mat-tab-group
  [(selectedIndex)]="tabIndex">
  <!-- Perfil com dados cadastrais -->
  <mat-tab label="Registro">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Conteúdo principal -->
        <div fxFlex="100" fxFlex.gt-md="65" fxFlex.gt-sm="65" fxLayout="column">
          <!-- Formulário com meus dados -->
          <mat-card>
            <mat-card-header class="custom-mat-card-header" fxLayout="column">
              <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Dados do medicamento</div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <app-medicine-form *ngIf="tabIndex == 0"
                [dataForm]="currentMedicine.info"
                [routeToUpdate]="routers.updateMedicine"
                [routeToCreate]="routers.createMedicine"
                [medicineID]="currentMedicine.current_id">
              </app-medicine-form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


