@import "./../../dashboard/dashboard.component.scss";

header {
  background: url(./../../../../../../assets/images/17842.jpg) 0 45%/cover no-repeat;
  .detail {
    background: transparent;
    font-size: 1.2em;
    .info {
      color: #710407;
      font-size: 1.2em;
    }
  }
}
.custom-mat-card-header {
  background: $color-medicine-header;
}
