@import "./../../dashboard/dashboard.component.scss";

header {
  background: url(./../../../../../../assets/images/61802.jpg) 0 45%/cover no-repeat;
  .detail {
    background: #b2e7e480;
    font-size: 1.2em;
    .info {
      color: #50a09e;
      font-size: 1.2em;
    }
    .advice {
      font-size: .7em;
      margin: 6px;
    }
  }
}
.custom-mat-card-header {
  background: $color-medical-header;
}
