<!-- Cabeçalho -->
<mat-toolbar>
  <div class="logo">
    <h2>
      <span *ngIf="!data.recipeInfo">Nova</span>
      <span *ngIf="data.recipeInfo">Visualizar</span>
        Receita
    </h2>
  </div>
</mat-toolbar>
<div mat-dialog-content>
<!-- Paciente -->
  <mat-card *ngIf="data.recipeInfo || patientProfile.allProfile">
    <mat-card-header *ngIf="data.recipeInfo">
        <!-- Foto -->
        <div mat-card-avatar>
            <img class="avatar" [src]="data.recipeInfo.medical_patient.image" [alt]="data.recipeInfo.medical_patient.name">
        </div>
        <mat-card-title>Paciente: {{ data.recipeInfo.medical_patient.name }}</mat-card-title>
        <!-- Informações -->
        <mat-card-subtitle>
          <span class="info">
              <strong>Idade</strong>: {{ moment().diff(data.recipeInfo.medical_patient.date_of_birth, 'years') + ' anos' }}
          </span>
          <span class="info">
            <strong>Sexo</strong>: {{ (data.recipeInfo.medical_patient.genre == 'M' || data.recipeInfo.medical_patient.genre == '2') ? 'Masculino' : 'Feminino' }}
          </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngIf="patientProfile.allProfile">
        <!-- Foto -->
        <div mat-card-avatar>
            <img class="avatar" [src]="patientProfile.allProfile.picture" [alt]="patientProfile.allProfile.name">
        </div>
        <mat-card-title>Paciente: {{ patientProfile.allProfile.name }}</mat-card-title>
        <!-- Informações -->
        <mat-card-subtitle>
          <span class="info">
              <strong>Idade</strong>: {{ moment().diff(patientProfile.allProfile.date_of_birth, 'years') + ' anos' }}
          </span>
          <span class="info">
            <strong>Sexo</strong>: {{ (patientProfile.allProfile.genre == 'M') ? 'Masculino' : 'Feminino' }}
          </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-expansion-panel class="show-anamnese">
      <mat-expansion-panel-header *ngIf="!anamneseInfo.length">Anamnese não preenchida pelo paciente</mat-expansion-panel-header>
      <p *ngIf="!anamneseInfo.length">Desculpe, ainda não foi preenchida pelo paciente, solicite que o mesmo responda este questionário.</p>
      <mat-expansion-panel-header *ngIf="anamneseInfo.length">Visualizar Anamnese </mat-expansion-panel-header>
      <div *ngIf="anamneseInfo.length">
          <div class="anamnese" *ngFor="let item of anamneseInfo" [ngClass]="{'has-more-info': (item.value && item.sub_title_quetion.length)}">
              <h4>{{ item.title_question }} <span [ngClass]="{'has-information': (item.value)}">{{ (item.value) ? 'Sim' : 'Não' }}</span></h4>
              <div class="answers" *ngFor="let subitem of item.sub_title_quetion; let index = index">
                <h5>{{ subitem.title }}</h5>
                <p>{{ subitem.answer }}</p>
              </div>
          </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
  <!-- Formulário -->
  <mat-card class="section">
    <h4>Informações
      <span *ngIf="(data.recipeInfo || patientProfile.allProfile); else elseBlock">da receita:</span>
      <ng-template #elseBlock>do paciente:</ng-template>
    </h4>
    <span class="spacer"></span>
    <span class="cpf-search" *ngIf="!(data.recipeInfo || patientProfile.allProfile)">
      <input matInput placeholder="CPF do Paciente" [(ngModel)]="patientProfile.CPF" mask="000.000.000-00">
      <button [disabled]="patientProfile.CPF.length < 11" (click)="searchCPF()" mat-button>Pesquisar</button>
    </span>
  </mat-card>
  <!-- Medicamentos -->
  <div *ngIf="(patientProfile.allProfile)">
    <mat-expansion-panel class="medicine-itens" *ngFor="let item of medicineList; let index = index;" [expanded]="medicineList.length - 1 == index">
      <mat-expansion-panel-header>
        <span *ngIf="!formRecipe[index]">
            Adicionar Medicamento
        </span>
        <span *ngIf="formRecipe[index]" class="medicine-confirmed title">
            {{ formRecipe[index].title }} | {{ formRecipe[index].subtitle }}
        </span>
        <span *ngIf="formRecipe[index]" class="medicine-confirmed">
          <i class="icon-eye-dropper"></i>{{ formRecipe[index].dosage }} Unidades
          <i class="icon-calendar"></i>{{ formRecipe[index].number_of_days }} dias
          <i class="icon-time"></i>a cada {{ formRecipe[index].frequency }}h
      </span>
      </mat-expansion-panel-header>
      <app-medicine-itens
        class="recipe-crud-form"
        [index]="index" [item]="item" [list]="medicineList" (form)="medicineForm($event)" (valid)="validRecipe($event)">
      </app-medicine-itens>
    </mat-expansion-panel>
  </div>
  <!-- PDF da Receita -->
  <div *ngIf="(data.recipeInfo)">
      <mat-progress-bar *ngIf="!showPDF" mode="indeterminate"></mat-progress-bar>
      <iframe *ngIf="urlPDF" [src]="urlPDF"></iframe>
  </div>
</div>
<!-- Botões -->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button *ngIf="canCreateRecipe" (click)="generateRecipe()" mat-button cdkFocusInitial>
    Gerar receita
  </button>
</div>

