@import "./../../../../../../assets/fonts/variables/colors";

.modal-component-screen {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
   }
   .mat-card {
    .has-more-info {
    background: #f6f6f6;
    }
    h4 {
      font-weight: 500;
      font-size: .85em;
      text-transform: uppercase;
      display: unset;
      position: relative;
      top: 10px;
      span {
        font-weight: bold;
          float: right;
          &.has-information {
            color: red;
          }
        }
     }
     h5{
        border-bottom: 1px solid #dcdcdc;
        font-size: 1em;
        font-weight: 400;
        padding: 5px;
        margin: -10px 0;
     }
     .answers {
      font-weight: 300;
      background: #f9f9f9;
      padding: 10px 10px 1px;
      position: relative;
      top: -10px;
     }
    box-shadow: none;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 0;
    .show-anamnese {
      background: $color-default;
      color: white;
      margin: 15px 0;
      .mat-expansion-indicator::after {
        color: white;
      }
    }
    .mat-expansion-panel-body {
        background: white;
        color: grey;
    }
     &.section {
      padding: 6px 16px;
      background: #f6f6f6;
      color: $color-default;
      border-bottom: 1px dashed $color-default !important;
      margin: 0 0 10px;
      display: flex;
     }
   }
   .mat-dialog-actions {
    padding: 8px 20px;
    min-height: 36px;
    margin-bottom: 0;
    float: right;
   }
   .mat-card-avatar {
    height: 70px;
    width: 70px;
  }

  .avatar {
    height: 70px;
    border-radius: 70px;
  }
}

.mat-autocomplete-panel .mat-option {
  height: auto !important;
  .title {
    color: $color-default;
    display: block;
    height: 25px;
    line-height: 25px;
    small{
      color: #9c9c9c;
      font-weight: 100;
      font-size: .8em;
    }
  }
  .details {
    display: block;
    height: 20px;
    line-height: 20px;
    &.separate{
      width: 100%;
      border-bottom: 1px solid #f6f6f6;
      margin: 0 0 5px;
      padding: 0 0 5px;
    }
  }
}

.medicine-itens.mat-expansion-panel{
  margin: 15px;
  padding: 0;
  &.mat-expanded{
    width: 97.2%;
  }
}

.medicine-confirmed {
  font-size: .9em;
  [class^="icon-"]{
    color: $color-default;
    margin: 0 4px 0 10px;
  }
  &.title{
    font-weight: bold;
    color: #373737;
    margin-right: 30px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.cpf-search {
  display: flex;
  .mat-input-element{
    width: 130px;
  }
  .mat-button{
    background: $color-default;
    color: white;
    &:disabled {
      background: #f6f6f6;
    }
  }
}

iframe {
  width: 100%;
  height: 300px;
  position: relative;
  top: -10px;
}
