<form class="login-form" [formGroup]="medicineForm" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
<!-- Título -->
  <mat-form-field appearance="outline">
    <mat-label>Título do medicamento</mat-label>
    <input matInput placeholder="título" formControlName="title" [errorStateMatcher]="matcher">
    <mat-icon matSuffix>title</mat-icon>
    <!-- Erros -->
    <mat-error *ngIf="medicineForm.get('title').hasError('required')">
      O título é <strong>necessário.</strong>
    </mat-error>
  </mat-form-field>
  <!-- Subtítulo -->
  <mat-form-field appearance="outline">
    <mat-label>Subtítulo do medicamento</mat-label>
    <input matInput placeholder="subtítulo" formControlName="subtitle" [errorStateMatcher]="matcher">
    <mat-icon matSuffix>subtitles</mat-icon>
    <!-- Erros -->
    <mat-error *ngIf="medicineForm.get('subtitle').hasError('required')">
      O subtítulo é <strong>necessário.</strong>
    </mat-error>
  </mat-form-field>
  <!-- Anotações -->
  <mat-form-field appearance="outline">
    <mat-label>Anotações do medicamento</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="7" placeholder="anotação" formControlName="note" [errorStateMatcher]="matcher"></textarea>
    <mat-icon matSuffix>speaker_notes</mat-icon>
    <!-- Erros -->
    <mat-error *ngIf="medicineForm.get('note').hasError('required')">
      A anotação é <strong>necessário.</strong>
    </mat-error>
  </mat-form-field>
  <!-- Informações do fabricante -->
  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
    <!-- Fabricante -->
    <mat-form-field  *ngIf="!manufacturers" appearance="outline">
      <mat-label>Fabricante</mat-label>
      <input matInput placeholder="fabricante" formControlName="manufacturer_id" [errorStateMatcher]="matcher">
      <mat-icon matSuffix>public</mat-icon>
      <!-- Erros -->
      <mat-error *ngIf="medicineForm.get('manufacturer_id').hasError('required')">
        O nome fabricante é <strong>necessária.</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="manufacturers">
        <mat-label>Fabricante</mat-label>
      <input type="text"  placeholder="fabricante" aria-label="fabricante" matInput formControlName="manufacturer_id" [matAutocomplete]="auto"  [errorStateMatcher]="matcher">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn(manufacturers)">
        <mat-option *ngFor="let option of manufacturersFilteredOptions | async" [value]="option.value">
          {{option.display}}
        </mat-option>
      </mat-autocomplete>
      <span matSuffix><mat-icon>location_city</mat-icon></span>
      <!-- Erros -->
      <mat-error *ngIf="medicineForm.get('manufacturer_id').hasError('required')">
        A fabricante é <strong>necessária.</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <!-- Valores -->
  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
    <!-- Valor mínimo -->
    <mat-form-field appearance="outline">
      <mat-label>Valor mínimo</mat-label>
      <input matInput placeholder="mínimo" [formControl]="medicineForm.controls['minimum_price']" [errorStateMatcher]="matcher" mask="dot_separator.2">
      <mat-icon matSuffix>attach_money</mat-icon>
      <!-- Erros -->
      <mat-error *ngIf="medicineForm.get('minimum_price').hasError('required')">
        O valor mínimo é <strong>necessário.</strong>
      </mat-error>
    </mat-form-field>
    <!-- Valor máximo -->
    <mat-form-field appearance="outline">
      <mat-label>Valor máximo</mat-label>
      <input matInput placeholder="máximo" [formControl]="medicineForm.controls['maximum_price']" [errorStateMatcher]="matcher" mask="dot_separator.2">
      <mat-icon matSuffix>attach_money</mat-icon>
      <!-- Erros -->
      <mat-error *ngIf="medicineForm.get('maximum_price').hasError('required')">
        O valor máximo é <strong>necessário.</strong>
      </mat-error>
    </mat-form-field>
    <!-- Valor padrão -->
    <mat-form-field appearance="outline">
      <mat-label>Valor padrão</mat-label>
      <input matInput placeholder="padrão" [formControl]="medicineForm.controls['price']" [errorStateMatcher]="matcher" mask="dot_separator.2">
      <mat-icon matSuffix>attach_money</mat-icon>
      <!-- Erros -->
      <mat-error *ngIf="medicineForm.get('price').hasError('required')">
        O valor padrão é <strong>necessário.</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <!-- Detalhes do medicamento -->
  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
    <!-- Tipos de medicamentos -->
    <mat-form-field  *ngIf="!types" appearance="outline">
      <mat-label>Tipo de medicamento</mat-label>
      <input matInput placeholder="tipo" formControlName="manufacturer_id" [errorStateMatcher]="matcher">
      <mat-icon matSuffix>public</mat-icon>
      <!-- Erros -->
      <mat-error *ngIf="medicineForm.get('manufacturer_id').hasError('required')">
        O tipo de medicamento é <strong>necessário.</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="types">
        <mat-label>Tipo de medicamento</mat-label>
      <input type="text"  placeholder="tipo" aria-label="tipo" matInput formControlName="type_id" [matAutocomplete]="auto"  [errorStateMatcher]="matcher">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn(types)">
        <mat-option *ngFor="let option of typesFilteredOptions | async" [value]="option.value">
          {{option.display}}
        </mat-option>
      </mat-autocomplete>
      <span matSuffix><mat-icon>location_city</mat-icon></span>
      <!-- Erros -->
      <mat-error *ngIf="medicineForm.get('type_id').hasError('required')">
        O tipo de medicamento é <strong>necessário.</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <button [disabled]="formSubmitted" class="btn-submit" (click)="submitForm()" mat-button>{{ (formSubmitted) ? 'Salvando...' : 'Salvar' }}</button>
  <mat-progress-bar *ngIf="formSubmitted" mode="indeterminate"></mat-progress-bar>
</form>
