@import "./../../screens/private/admin/dashboard/dashboard.component.scss";

.reset-login-form {
  .mat-slide-toggle {
    margin: 15px 0;
  }
  .allow {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}
