<form class="reset-login-form" [formGroup]="resetLoginForm" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
  <mat-slide-toggle (change)="changeValue($event)" [checked]="changePassword" labelPosition="before"><h3>Deseja alterar a senha?</h3></mat-slide-toggle>
  <!-- Senha -->
  <div class="allow" *ngIf="changePassword" fxFlex="100">
    <mat-form-field>
      <span matPrefix><mat-icon>lock</mat-icon>&nbsp;</span>
      <input matInput placeholder="Senha"  formControlName="password" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="resetLoginForm.get('password').hasError('required')">
        A senha é <strong>necessária.</strong>
      </mat-error>
      <mat-error *ngIf="resetLoginForm.get('password').hasError('minlength')">
        A senha não deve possuir menos que 6 caracteres <strong>necessária.</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="formSubmitted" class="btn-login btn-submit" [disabled]="resetLoginForm.invalid" (click)="confirmChange()" mat-button>{{ (formSubmitted) ? 'Salvando...' : 'Salvar' }}</button>
    <mat-progress-bar *ngIf="formSubmitted" mode="indeterminate"></mat-progress-bar>
  </div>
</form>
