/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/fonts/variables/colors";
@import "./assets/fonts/icomoon/icommon.scss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-menu {
  .selected-amml-item {
    position: relative;
    &::before {
      content: "";
      width: calc(100% - 10px);
      height: 100%;
      background-color: rgba(255, 255, 255, 0.87);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &.color-default {
    .mat-list-base .mat-list-item {
      .label, .icon-container {
        color: white;
      }
      &.selected-amml-item {
        .label, .icon-container {
          background-color: $color-default;
          color: white;
        }
        &::before {
          display: none;
        }
      }
    }
  }
  &.color-patient {
    .selected-amml-item {
      .label, .icon-container {
        color: $color-patient;
      }
    }
  }
  &.color-medical {
    .selected-amml-item {
      .label, .icon-container {
        color: $color-medical;
      }
    }
  }
  &.color-administrator {
    .selected-amml-item {
      .label, .icon-container {
        color: $color-administrator;
      }
    }
  }
  &.color-pharmacie {
    .selected-amml-item {
      .label, .icon-container {
        color: $color-pharmacie;
      }
    }
  }
  &.color-pharmacist {
    .selected-amml-item {
      .label, .icon-container {
        color: $color-pharmacist;
      }
    }
  }
  &.color-medicine {
    .selected-amml-item {
      .label, .icon-container {
        color: $color-medicine;
      }
    }
  }
}

.content {
  margin: 30px;
}


.mat-sidenav-container,
.color-default {
  mat-toolbar {
    background-color: $color-default;
  }
}


.mat-sidenav-container,
.color-default {
  mat-toolbar {
    &.side-content {
      border-bottom: 1px solid #ffffff4a;
    }
  }
}




.color-medical {
  mat-toolbar {
    &.main-content {
      background-color: $color-medical;
    }
  }
}

.color-patient {
  mat-toolbar {
    &.main-content {
      background-color: $color-patient;
    }
  }
}

.color-pharmacie {
  mat-toolbar {
    &.main-content {
      background-color: $color-pharmacie;
    }
  }
}

.color-pharmacist {
  mat-toolbar {
    &.main-content {
      background-color: $color-pharmacist;
    }
  }
}

.color-administrator {
  mat-toolbar {
    &.main-content {
      background-color: $color-administrator;
    }
  }
}

.color-medicine {
  mat-toolbar {
    &.main-content {
      background-color: $color-medicine;
    }
  }
}


.mat-snack-bar-container{
  color: white;
  &.success {
    background: $color-default;
  }
  &.error {
    background: red;
  }
}
