$color-default: #55D3AE;

$color-patient: #2196f3;
$color-patient-header: #42a5f5;

$color-medical: #009688;
$color-medical-header: #26a69a;

$color-administrator: #212121;
$color-administrator-header: #616161;

$color-pharmacie: #673ab7;
$color-pharmacie-header: #7e57c2;

$color-pharmacist: #ff5722;
$color-pharmacist-header: #ff7043;

$color-medicine: #e4131b;
$color-medicine-header: #f5262c;
