
@import "./../../screens/private/admin/dashboard/dashboard.component.scss";

.list {
  padding: 0;
  li {
    margin: 5px 0 20px;
    .avatar {
      width: 40px;
      min-width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 8px 0 0;
      border-radius: 50%;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
    }
    .username {
      color: $color-patient;
    }
    .time {
      font-size: .8em;
      color: rgba(0,0,0,.54);
    }
  }
}
