<ul class="list" *ngIf="list && list.length > 0">
  <li *ngFor="let item of list" fxLayout="row" fxLayoutAlign="start start">
    <img class="avatar" [src]="item.image" [alt]="item.name">
    <div fxFlex="80" fxLayout="column">
      <div>
        <span class="username">{{ item.name }}</span>
        <span class="message"></span>
      </div>
      <span class="time secondary-text">{{ item.created_at * 1000 | date: 'd \'de\' MMMM y \'às\' H:mm' }}</span>
      </div>
      <div fxLayout="column">
        <div fxLayoutAlign="end center">
          <span class="username">{{ item.start_recipe }}</span>
        </div>
      </div>
    </li>
</ul>
