<!-- Cabeçalho -->
<mat-toolbar>
  <div class="logo">
    <span class="icon-negativa_medico"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
      <h2>-  Receitas</h2>
  </div>
  <span class="spacer"></span>
    <!-- Foto -->
    <div mat-card-avatar *ngIf="userProfile">
      <img class="avatar" [src]="userProfile.image" [alt]="userProfile.name">
  </div>
  <mat-icon (click)="loggout()" class="logout">exit_to_app</mat-icon>
</mat-toolbar>
<!-- Tabela -->
<app-data-table
  [customRoute]="routers.retrieveAllRecipes"
  [displayedColumns]="allTables.AllRecipes.columns"
  [displayedColumnsInfo]="allTables.AllRecipes.info"
  [userID]="userProfile.id">
</app-data-table>
<!-- Botão de nova receita -->
<button (click)="newRecipe()"
  mat-raised-button
  matTooltipPosition="right"
  matTooltip="Nova receita"
  aria-label="Botão que adiciona uma nova receita ao ser clicado" class="float-button" mat-fab>
  <i class="icon-plus-round"></i>
</button>
